@charset "UTF-8";

body{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h2{
    color: darkred;
}

h1{
    background-color: goldenrod;
    text-decoration: underline;
    color: darkred;
}