@charset "UTF-8";
/*Orientation: Portrait*/

body{
   
    background-image: url(../../imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom ;
}
