@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    height: 100vh;
    margin: 0px;
}
header{
    padding: 45px 0px;
    background-color: black;
    text-align: center;
}
h1{
    margin: 0;
    color: white;
    font-family: 'Passion One';
    font-size: 5vw;

}
h1>p{
    margin: 0px;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
}
span{
    display: inline-block;
}
h1>span::first-letter{
    font-size: 8vw;

}

p.autoria{ 
    margin: 0px;
    font-size: 1em;
    color: white;
    font-family:'Open Sans' ;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
p{
    margin: 40px 25px;
    font-family: 'Sriracha';
    font-size: 3.5vw;
    

}
div{
    padding: 40px 0px;
}
section{
    margin: 20px 0px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment:fixed ;

   
}
section#img01{
    background-image: url(imagens/background001.jpg);
}
section#img02{
    background-image: url(imagens/background002.jpg)
        ;
    }
section>p{
    margin: 60px 25px;
    display: inline-block;
    color: white;
    padding:10px 0px ;
    background-color: rgba(0, 0, 0, 0.436);
}
footer{
    padding: 5px;
    text-align: center;
    background-color: black;
}