@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf);
}
:root{
    --cor0: #e5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-h1-principal: 'Bebas Neue', cursive;
    --fonte-titulo-artigo: 'Idroid';
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0) ;
    font-family: var(--fonte-padrão);
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient( to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: var(--cor0);
    font-family: var(--fonte-h1-principal);
    font-size: 3em;
    margin-bottom: 30px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.27) ;
}
header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.364) ;
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 1px 7px 9px #00000040;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
}
main{
    background-color: white;
    padding: 20px;
    margin:auto;
    min-width: 500px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgb(58, 58, 58);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
article{
    max-width: 980px;
    min-width: 480px;
}
main h1{
    color: var(--cor05);
    font-family: var(--fonte-titulo-artigo);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    color: var(--cor04);
    font-family: var(--fonte-titulo-artigo);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor04);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight:bold ;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}
main img{
    width: 100%;
}
main img.pequeno{
    display: block;
    
    max-width: 350px;
    margin: auto;
}
.video{
    background-color: var(--cor05);
    margin: 0px -40px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;

}
div.video> iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}
aside > h3{
    background-color: var(--cor04);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.278);
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}